.Octopus{
	position: absolute;
	margin-top: 5em; 
	margin-left: 1em;
}
.Glasses{
	position: absolute;
	margin-top: 11.2em;
	margin-left: 3.5em;
}
.Hat{
	position: absolute;
	margin-top: 1em;
}
